.fw-6 {
    font-weight: 600!important;
}
.fw-5 {
    font-weight: 500!important;
}
.ant-modal-confirm-paragraph{
    width: 100%!important;
    max-width: unset !important;
}
.btn-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    & button {
        width: 25%!important;
    }
}