// COLOR VARIABLES
$color-primary: #38a7ff;
$color-primary-low: #3481ff80;
$color-primary-bold: #211f78;
$color-white: #fff;
$color-black: #000;
$color-green: #35d2b9;
$color-gray: #E0E0E0;
$color-grey-weight: #E4E4E4;
$color-border-grey: #ececed;
$color-bg-grey: #F7FAFC;

$gray-100: #f6f7f9;
$gray-150: #edf0f3;
$gray-200: #e4e8ed;
$gray-300: #d9dfe5;
$gray-400: #c1c8d1;
$gray-500: #a9b2be;
$gray-600: #657384;
$gray-700: #4a4f63;
$gray-800: #2f364a;
$gray-800-80: rgba(47, 54, 74, 0.8);
$gray-900: #20283d;
$gray-1000: #020b27;

// FONT VARIABLES
$default-font-size-n: 16;
$default-font-size: $default-font-size-n+px;
$default-line-height: 3.2rem;

// BORDER Radius
$default-border-radius : 6px;
$default-box-shadow : 0 2px 4px 2px rgba(15,34,58,.12);
$default-transition-duration : 0.3s;

$height-header : 48px;

$z-index-header: 1000;

// TEXT
$text-primary-color : #525666;