.search-ant{
  width: 300px;
};
.row__search{
  margin-bottom: 10px
};
@media screen and (max-width: 768px) {
.search-ant{
  width: 200px
}
};
@media screen and (max-width: 576px) {
.search-ant{
  width: 300px
}
};

.ant-select-dropdown{
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: red;
  }
}