.layoutDetail {
  display: flex;
  height: 100%;
  max-height: inherit;
  overflow-y: hidden;
  &--left,
  &--right {
    max-height: inherit;
  }

  &--left {
    width: 30%;
    border-right: 1px solid $color-grey-weight;
    &__head {
        padding: 1rem;
        border-bottom: 1px solid $color-grey-weight;
        background: #F9F7F7;
        border-top-left-radius: 8px;
    }
    
    &__list {
      max-height: calc(100vh - (48px + 10px + 65px + 10px)); // (header paddingMainContent HeaderLeft UnKnow)
      overflow-y: scroll;
      &__item{
        padding: 10px 8px;
        padding-right: 16px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-grey-weight;
        &:hover{
          background-color: #F9F7F7;
        }
        &__LeftText{
          font-weight: 600;
        }
        &.active{
          background-color: #F1F1FB;
        }
      }
    }
  }

  &--right {
    width: 70%;
    &__head {
        padding: 1rem;
        padding-bottom: 11px;
        border-bottom: 1px solid $color-grey-weight;
    }

    &__mainContent {
      max-height: inherit;
        padding-inline: 10px;
        &__tab{
          .ant-tabs-content-holder {
            max-height: calc(100vh - (48px + 10px + 60px + 47px + 50px)); // (header paddingMainContent HeaderRight HeaderTab UnKnow)
            overflow-x: hidden;
            overflow-y: scroll;
        }
        }
    //   padding-top: 1rem;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    &--left,
    &--right {
    }

    &--left {
        display: none;
      &__head {
      }
      
      &__list {
      }
    }

    &--right {
        width: 100%;
      &__head {
        padding-bottom: 0.5rem;
      }

      &__mainContent {
        padding-top: 0.5rem;
      }
    }
  }

  @media (max-width: 768px) {
    &--left,
    &--right {
      padding: 0.25rem;
    }

    &--left {
      &__head {
        padding-bottom: 0.25rem;
      }
      
      &__list {
        padding-top: 0.25rem;
      }
    }

    &--right {
      &__head {
        padding-bottom: 0.25rem;
      }

      &__mainContent {
        padding-top: 0.25rem;
      }
    }
  }
}
