.status {
    height: 22px;
    min-width: 22px;
    line-height: 0;
    border-radius: 8px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    // Bill
    &.new ,&.ordering{
      background-color: #f0f0f0;
      color: darken($color: #f0f0f0, $amount: 50%);
    }
    
    &.processing {
        background-color: #1890ff;
        color: #fff;
      }
    &.completed ,&.confirmed {
      background-color: #52c41a;
      color: #fff;
    }
    &.cancelled {
      background-color: #f5222d;
      color: #fff;
    }

    &.ordered {
      color: #ffffff;
      background-color: #008000; /* Màu xanh lá cây */
    }
    
    &.received {
      color: #ffffff;
      background-color: #ff4500; /* Màu cam đậm */
    }
    
    &.processing {
      color: #ffffff;
      background-color: #ffa500; /* Màu cam */
    }
    
    &.packaged {
      color: #ffffff;
      background-color: #4caf50; /* Màu xanh lá cây đậm */
    }
    
    &.shipping {
      color: #ffffff;
      background-color: #007bff; /* Màu xanh da trời */
    }

}