.employee-group-form {
  width: 100%;

  .ant-row {
    width: 100%;
  }

  .ant-form {
    margin-top: 30px;

    .ant-form-item-label {
      label {
        width: 100%;
      }
    }
  }

  &__submit-box {
    justify-content: flex-end;
    margin: 10px 0 !important;
    display: flex;
    gap: 10px;
  }
}
.group_permission{
  height: calc(100% - 62px);
  position: relative;
  &__list{
    display: flex;
    flex-direction: column;
    height: 100%;
    &-title{
      margin-left: 20px;
      margin-top: 8px;

    }

    &__menu {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
  &__content{
    .group_permission__list-title{
      margin-left: 0;
      margin-top: 0;
    }
  }
  &__content{
    height: 100%;
    overflow-y: auto;
    &__header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 0;
      height: 44px;
    }
  }
}
.whiteBox{
  height: inherit;
  margin-inline: -10px;
  margin-block: -10px;
}