.layoutVertical {
  &--header {
    background-color: $color-primary;
    position: sticky;
    top: 0;
    box-shadow: $default-box-shadow;
    z-index: 2000;
    &__row {
      padding-right: 10px;
      padding-left: 10px;
      height: $height-header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
        display: flex;
        align-items: center;
        width: 100px;
        cursor: pointer;
      };
      &__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
  &--content {
    background-color: $color-bg-grey;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - #{$height-header});
    &__navbar {
      width: 100%;
      position: sticky;
      // top: $height-header + 10px;
      top: 0;
      
      &__wrapMenu {
        user-select: none;
        box-shadow: $default-box-shadow;
        // border-radius: 0;
        // border-top-left-radius: 0;
        &__menu {
          min-height: calc(100vh - #{$height-header});
          max-height: calc(100vh - #{$height-header});
          overflow-y: auto;
          // border-radius: inherit;
          padding-bottom: 10px;
          padding-top: 10px;
          & .ant-menu-title-content {
            font-weight: 500!important;
          }
        }
      }
      &__navLink {
        text-decoration: none;
      }
      &__tooltip{
        user-select: none;
        z-index: 0;
      }
      &__loading{
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 999;
      }
    }
    &__navbar--device {
      // width: 0px;
      &__active {
      width: 256px;
      };
      position: sticky;
      // top: $height-header + 10px;
      &__wrapMenu {
        user-select: none;
        box-shadow: $default-box-shadow;
        // border-radius: 0;
        // border-top-left-radius: 0;
        &__menu {
          min-height: calc(100vh - #{$height-header});
          max-height: calc(100vh - #{$height-header});
          overflow-y: auto;
          // border-radius: inherit;
          padding-bottom: 10px;
          padding-top: 10px;
          & .ant-menu-title-content {
            font-weight: 500!important;
          }
        }
      }
      &__navLink {
        text-decoration: none;
      }
      &__tooltip{
        user-select: none;
        z-index: 0;
      }
      &__loading{
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.45);
        z-index: 999;
      }
      &__button--collapse{
        margin-bottom: 10px;
        background-color: transparent;
        color: black;
        border: none;
        position: sticky;
      }
    }
    &__mainContent {
      flex: 1;
      padding: 10px;
      height: calc(100vh - #{$height-header});
      min-height: calc(100vh - #{$height-header});
      max-height: calc(100vh - #{$height-header});
      overflow-y: auto;
      position: relative;
    }

    .menu--device {
      padding: 0px;
      margin: 0px;
    }
  }
}

.profileBtn {
  cursor: pointer;
  border-radius: $default-border-radius;
  transition: $default-transition-duration all;
  padding: 5px;
  & * {
    color: white;
  }
  & span {
    font-weight: 600;
  }
  &:hover {
    background-color: white;
    & * {
      color: $color-primary-bold;
    }
  }
}

.reflexContainer {
  width: 100vw;
  height: calc(100vh - #{$height-header});
    &--left  {
  // flex: 0.3 1 0%!important;
  }
  &--splitter{
    height: calc(100vh - #{$height-header});   
    width: 3px!important;
    position: relative;
    
    &::after{
      content: "||";
      position: absolute;
      top : 45%;
      left: 0%;
      transform: translate(-50%);
      width: 5px;
      height: 5px;
      font-weight: 700;
    }
  }
  &--right  {
    // flex: 1!important;
  }

}
.reflex-container.vertical > .reflex-splitter:hover,
.reflex-container.vertical > .reflex-splitter.active {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
 }
.reflex-container.vertical > .reflex-splitter:hover,
.reflex-container.vertical > .reflex-splitter.active .reflexContainer--splitter::after{
  color: $color-primary;
 }
.ant-drawer .ant-drawer-body{
  padding: 0px;
}
