.layoutVertical {
  &--header {
    background-color: $color-bg-default;
    position: sticky;
    top: 0;
    z-index: $z-index-header;
    border-bottom: 1px solid #E0E0E0;
    &__row {
      padding-right: 10px;
      padding-left: 10px;
      height: $height-header;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo {
        display: flex;
        align-items: center;
        width: 100px;
        cursor: pointer;
      };
      &__right {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
  &--content {
    // background-color: $color-bg-grey;
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - #{$height-header});
    &__navbar {
      width: 270px;
      position: sticky;
      // top: $height-header + 10px;
      top: 0;
      border-right: 1px solid #E0E0E0;
      &__list{
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        &__item{
          display: flex;
          gap: 12px;
          padding: 10px 7px;
          border-radius: 5px;
          transition: 0.1s linear;
          cursor: pointer;
          color: $text-primary-color;
          a {
            transition: inherit;
          }
          &:hover{
            background-color: #e1ebf2;
            span,a {
              color: $color-primary!important;
            }
          }
          &.active{
            background-color: $color-primary;
            span,a {
              color: white!important;
            }
          }
          &__icon{
            width: 15px;
          }
          &__label{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
          }
          &__navLink {
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 500;
            color: $text-primary-color;
          }
        }
      }
    }
    &__mainContent {
      background-color: $color-bg-grey;
      flex: 1;
      padding: 10px;
      height: calc(100vh - #{$height-header});
      min-height: calc(100vh - #{$height-header});
      max-height: calc(100vh - #{$height-header});
      overflow-y: auto;
      position: relative;
    }

  }
}

.profileBtn {
  cursor: pointer;
  border-radius: $default-border-radius;
  transition: $default-transition-duration all;
  padding: 5px;
  & * {
    color: white;
  }
  & span {
    font-weight: 600;
  }
  &:hover {
    background-color: white;
    & * {
      color: $color-primary-bold;
    }
  }
}

.ant-drawer .ant-drawer-body{
  padding: 0px;
}
