.collapseCustom{
    background-color: transparent !important;;
     & .ant-collapse-header{
        padding: 0!important;
     }
}

.scrollList {
   max-height: 300px!important;
   overflow-y: scroll !important;;
}

.sale-tree{
   margin: 10px;
   width: '100%';
   // overflow: hidden;
   overflow-x: auto !important;
   overflow-y: hidden !important;
   align-items: stretch;
   &__title--flex{
   margin: 10px;
   // overflow: hidden;
   align-items: stretch;
   justify-content: space-between;
   display: flex;
   &__title{
      overflow-y: auto !important;
      width: 100%;
   }
   &__flex--container{
      width: 100%;
      align-items: center;
   };
   &__flex--content:not(:last-child){
      display: flex;
      // align-items: center;
      justify-content: flex-end;
      width: 70%;
   };
      &__name{
         display: flex;
         flex-direction: column;
         align-self: center;
         flex-grow: 1;
         min-width: 200px;
         margin-right: 10px;
      };
      &__member{
         min-width: 250px;
         margin-right: 10px;
      };
      
      &__exchange{
         min-width: 110px;
         margin-right: 10px;
         display: flex;
         flex-direction: column;
         gap: 2px;
         > button{
            font-size: 13.5px
         }
      };
      &__action{
         min-width: 45px;
         justify-content: center;
         // margin-right: 10px;
      };
      &__target{
         min-width: 100px;
         margin-right: 10px;
      };
      &__type--group{
         min-width: 255px;
         margin-right: 10px;
      };
   };
   .ant-tree-indent-unit.ant-tree-indent-unit-start{
      &::before{
         top: -30px !important;
      };
   }
}; 
.sale-tree__flex--container .ant-flex{
   align-items: center;
}
.buy_group{
   height:calc(100vh - 1.5rem - 28px - 140px);
   min-height: calc(100vh - 1.5rem - 28px - 140px);
   .tree-custom{
      flex-grow: 1;
   }
   .pagination-buy-group{
      background: #f4f4f4;
      width: 100%;
      position: sticky;
      bottom: 0;
      padding: 5px 0;
      z-index: 999;
      border-bottom: 1px #F0F0F0 solid;
      margin-bottom: 0;
      padding-right: 20px;
   }
   .header-buy-group{
      display: flex;
      background: white;
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 999;
      border-bottom: 1px #F0F0F0 solid;
      margin-bottom: 5px;
   }
   .active-by-hover {
      opacity: 0;
      display: flex;
      align-items: center;
   }
   .item-tree :hover .active-by-hover {
      opacity: 1;
   }
}