.modalScroll{
    top: 20px!important;
    overflow: hidden!important;
    min-width: 80vw!important;
    & .ant-modal-content{
        max-height: calc(80vh - 50px) !important;
        overflow-y: scroll !important;;
    }
}
.scrollList{
    max-height: calc(80vh - 250px)!important;
    overflow-y: scroll;
}