.course-item{
  flex: 1;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    gap: 10px;
    & svg {
      width: 15px;
      color: $gray-600;
    }
    &--time{
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .fullWidthUpload{
    & .ant-upload{
      width: 100%!important;
      height: 200px!important;
    }
  }