.select-search {
  width: 100%;
  min-width: 500px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &__left {
    display: flex;
    width: max-content;
  }
  &__right {
    flex: 1;
  }
}
