.content-field {
  display: flex;
  .label {
    width: 30%;
    line-height: 200%;
    font-weight: 600;
  }
  div {
    width: 70%;
    font-weight: 400;
  }
  hr {
    margin: 1rem 0;
    color: #0909091a !important;
    background-color: currentColor;
    border: 0;
    opacity: 0.5;
  }
}
.error-message-ml-22 {
  .ant-form-item-explain-error{
    margin-left: 22px;
  }
}
.error-message-ml-14{
  .ant-form-item-explain-error{
    margin-left: 14px;
  }
}
