#medicine-autocomple-container {
    .ant-select-dropdown {
      top: -20px !important;
    }
  
    .ant-table {
      overflow-y: auto;
      max-width: 880px;
      max-height: 700px;
    }
  }
  .right{
    &--parent{
      position: relative;
      width: 90%!important;
    }
    &--child {
      position: absolute;
      left: calc(100% - 50px);
      top: 0;
      bottom: 0;
      z-index: 2;
    }
  }