.base-border-box {
  border-radius:  6px;
  margin-bottom: 5px;
  margin-top: 5px;

    &__divider {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      align-items: unset !important;
      &::before {
        border-left: solid thin rgba(0, 0, 0, 0.06);
      }
      &::after {
        border-right: solid thin rgba(0, 0, 0, 0.06);
      }
    }
  
    &__content {
      border: solid thin rgba(0, 0, 0, 0.06);
      border-top: none;
      padding: 0 24px 5px 24px;
    }
  }
  
  
  @media only screen and (max-width: 576px) {	
    .base-border-box {
    
      &__content {
        padding: 5px;
      }
    }
    
  }