.custom-table__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  gap: 5px;
  & p {
    color: $color-primary;
    font-weight: 500;
    font-size: 14px;
    &:hover{
        cursor: pointer;
    }
  }
}
