.whiteBox{
    border-radius: $default-border-radius;
    background-color: #fff;
    box-shadow: $default-box-shadow;
    &--header{
        padding: 20px;
        border-bottom: 1px solid $color-gray;
    }
    &--body{
        padding: 20px;
    }
}