.select-search{
  width: 100%;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  &__right{
    width: 70%;
    min-width: 300px;
  };
  &__left{
    width: 30%;
    min-width: 200px;
    margin-right: 10px
  };
  &__button{
    position: relative;
    .button{
      position: absolute;
      right: 0;
    }
  };
}
